.button {
    background: #242424;
    border:#242424;
    box-sizing: border-box;
    font-size: 26px;
    margin: 1.5vh 1.5vw;
    padding: 10px;
    transition: 0.2s;
    width: 80%;
    max-width: 600px;
    font-family: 'Lato', sans-serif;
    border-radius: 7px;
}

.feedback {
    font-family: 'Lato', sans-serif;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button:hover {
    transform: translateY(-3px);
}

.button:active {
    box-shadow: none;
    transform: translateY(2px);
}

.button:disabled {
    transform: translateY(0px);
}

.logo {
    max-width: 50px;
    max-height: 40px;
    padding-right: 5px;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color:"white";
}

.header {
    display: flex;
    margin: 1.5vh 1.5vw;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
}