.question {
    font-size: 90px;
    padding-top: 50px;
    font-family: 'Amiri', serif;
}

.tlit {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
}

.prompt {
    font-size: 30px;
}

.infoButton {
    position: relative;
    /* top: 20px; left: 110px; */
    top: 20px; left: 22%;
    min-width: 40px;
}

.soundButton {
    position: relative;
    /* top: 20px; left: 100px; */
    top: 20px; left: 20%;
    min-width: 40px;
}

.progressBar {
    text-align: center;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}