.question {
    font-size: 90px;
    padding-top: 50px;
    font-family: 'Amiri', serif;
}

.tlit {
    font-size: 30px;
}

.prompt {
    font-size: 30px;
}

.infoButton {
    padding-left: 100px;
    position: relative;
    top: 20px; left: 120px;;
}

.progressBar {
    text-align: center;
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
}