.question {
    font-size: 90px;
    padding-top: 50px;
    font-family: 'Amiri', serif;
}

.info {
    font-size: 22px;
    font-family: 'Amiri', serif;
}

.tlit {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
}

.points {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 26px;
    padding-top: 2%;
    position: relative;
    top: 50px;
    left: 22%;
}

.correct {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 27px;
    padding-top: 0%;
    position: relative;
    top: 50px;
    left: 22%;
    color: "#18a100"
}

.prompt {
    font-size: 30px;
}

.infoButton {
    position: relative;
    top: 20px; left: 22%;
    min-width: 40px;
}

.soundButton {
    position: relative;
    top: 20px; left: 20%;
    min-width: 40px;
}

.progressBar {
    text-align: center;
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
}